 body{
    background-color: blueviolet;
 padding-top: 70px;
 }
 /* navsection */
 *{
    margin:0;
    padding: 0;
}
.container{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
border-bottom: 5px solid  greenyellow;
display: flex;
justify-content: space-between;
}
ul li{
    list-style-type: none;
    justify-content: space-evenly;
}
li{
float: left;
}
.logo{
 display: flex;
}
li a,.logo a{
    margin: 10px;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
font-family: sans-serif;
}
li a:hover,.logo a:hover{
background-color: rgb(243, 240, 238);
color: black;
}
li a.active,.logo a.active{
    background-color: greenyellow;
}
#icon{
width: 40px;
height:40px;
float: left;
}
/* end */
 
/* 1 */
.content{
  margin-left:20px;
margin-right:20px;  
padding: 10px;
 
background-color: transparent;
width: 90;
height: 70px;
}
@font-face {
font-family: harabara;
src: url(./Harabara.ttf);
}
.text{
 
width: 600px;
height:  60px;
color: white;
margin: 20px;
padding: 40px;
font-size: 40px;
font-family:harabara ;
letter-spacing: 3px;
line-height: 70px;
}
button{
    width: 70px;
    height: 50px;
    border-radius:10px ;
    background-color: rgb(110, 207, 45);
    color: white;
}
 

 
  
